{
  "parser": "babel-eslint",
  "rules" :{
    "quotes": [1, "single"],
    "no-unused-vars": [1, {"vars": "all", "args": "all"}],
    "strict": true
  },
  "env":{
    "browser": true,
    "node" : true
  }
}