html, body{
  position:relative;
  display:block;
  height:100%;
  width:100%;
  padding:0;
  margin:0;

  /*overflow: auto;*/
}

div, span, html, body{
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

#container{
  flex:1;
}